/* ---- body fix ---- */

body {
  padding-top: 70px;
}

/* ---- vert al. table ---- */
.table tbody>tr>th{
    vertical-align: middle;
}


.loader {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: -70px;
    left: 0;
    right: 0;

    text-align: center;

    margin: auto;
}
/* ---- custom navbar colours ---- */
.navbar-default {
  background-color: #1f3980;
  border-color: #112559;
}
.navbar-default .navbar-brand {
  color: #e7ebef;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #d9ebff;
}
.navbar-default .navbar-text {
  color: #e7ebef;
}
.navbar-default .navbar-nav > li > a {
  color: #e7ebef;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d9ebff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #d9ebff;
  background-color: #112559;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #d9ebff;
  background-color: #112559;
}
.navbar-default .navbar-toggle {
  border-color: #112559;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #112559;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e7ebef;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7ebef;
}
.navbar-default .navbar-link {
  color: #e7ebef;
}
.navbar-default .navbar-link:hover {
  color: #d9ebff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e7ebef;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d9ebff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d9ebff;
    background-color: #112559;
  }
}
